.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    background-color: aqua;
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialog {

}

.messages {
    background-color: fuchsia;
    padding: 10px;
}

.message {

}